<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HW Franco Suite">
    <test name="configuration annotation Test">
        <classes>
            <class name="tests.users.editUser.EditUserTests">
            </class>
        </classes>
    </test>
</suite>
